.row{
    overflow-x: hidden;
}
.login{
    background: linear-gradient(rgba(26, 25, 25, 0.7), rgba(26,25,25,0.7)), url(../../assets/vectors/coder.png) top center no-repeat;
	background-size: cover;
	display:table;
	width:100%;
	box-shadow: inset 0 0 100px #000;
    height:100vh;
}
h2{
    margin-bottom: 50px;
    font-family: cursive;
    color: white;
}
.linker{
    color: #5CB85C;
}
.logo{
    position: absolute;
    left: 0;
    top: 0;
}
input{
    margin-bottom: 30px;
}
.btn{
    width: 100%;
    font-family: cursive;
    border: none;
}
.btn-default{
    background-color:#5CB85C;
    color: #ffffff;
}
.form-control{
    height: 40px;
    font-size: 18px;
    font-family: cursive;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.help-block{
    color: #ffffff;
}
.main-body{
    margin-top: 50px;
}
.footer{
    color: #5CB85C;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30px;
    text-align: center;
    overflow-x: hidden!important;
}