<div class="container-fluid contact-section">
  <div class="row">
    <div class="col-sm-12 main-header">
      <h1>Contact me</h1>
    </div>
    <div class="col-sm-6 col-sm-offset-3 myform">
      <form action="" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control">
        </div>
        <div class="form-group">
          <label for=email>Email</label>
          <input type="email" id="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="job">Job request</label>
         <textarea class="form-control" rows="5" id="job"></textarea>
        </div>
        <button type="submit" class="btn btn-success pull-right">Submit</button>
      </form>
    </div>
  </div>
</div>