<div class="container-fluid skills-section">
    <div class="row">
      <div class="col-sm-12 skill-main-header">
        <h1>Skills & Experience</h1>
      </div>
      
      <div class="col-sm-3 first">
        <div class="img-one">
          <img src="assets/vectors/code.png" width="50" height="auto">
        </div>
        <div class="skill-one-header">
          <h3>Website Development</h3>
        </div>
        <div class="skill-one-body">
          <p>My area of expertise is both frontend and 
            the backend development.
            I have experience with Html, Css, Javascript, Jquery, Bootstrap for front end development. I also have
            experience with frameworks such as Angular js(Typescript) and React js(Jsx) for also building single page web applications.
          For the backend, i am proficient in php/mysql, express(node) and mongodb.</p>
        </div>
      </div>
      <div class="col-sm-3 second">
        <div class="img-two">
          <img src="../../assets/vectors/design.png" width="50" height="auto">
        </div>
        <div class="skill-two-header">
          <h3>Graphic Design</h3>
        </div>
        <div class="skill-two-body">
          <p>I have experience using Adobe Photoshop, Illustrator and Indesign for various graphic work
            like logo design, branding, poster/banner design, magazine design and much more. </p>
        </div>
      </div>
      <div class="col-sm-3 third">
        <div class="img-three">
          <img src="../../assets/vectors/apk.png" width="50" height="auto">
        </div>
        <div class="skill-three-header">
          <h3>App Development</h3>
        </div>
        <div class="skill-three-body">
          <p>Proficient in using Android Studio in building real world android applications 
            with the use of Java, Xml programming languages and Firebase database. 
            Also experienced in team work collaborations using Git and Github</p>
        </div>
      </div>
      <div class="col-sm-3 fourth">
        <div class="img-four">
          <img src="../../assets/vectors/ui.png" width="50" height="auto">
        </div>
        <div class="skill-four-header">
          <h3>Ui/Ux Designer</h3>
        </div>
        <div class="skill-four-body">
          <p>Using Figma and Adobe xd, i create user interfaces and design rich user experiences.
            I design ui/ux for websites, applications and much more.
          </p>
        </div>
      </div>
  </div>
</div>

