<div class="container-fluid work-section">
  <div class="row">
    <div class="col-sm-12 work-main-header">
      <h1>Portfolio</h1>
    </div>
    <div class="col-sm-12 panel panel-default">
     <div class="col-sm-4">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
              <p>images holding stars</p>
          </div>
          <div class="panel-body">
            <img src="#">
          </div>
          <div class="panel-footer">
            <p>work title</p>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>