.table > tbody > tr.myTable {
  background: #5cb85c;
}
.table > tbody > tr > th.actions {
  background-color: #6f0000;
}
th {
  color: #ffffff;
}

.del:hover {
  cursor: pointer;
}
.del-icon {
  color: #6f0000;
}
.edit-icon {
  color: #5cb85c;
}

table {
  width: 100%;
}

.full-table {
  margin-bottom: 50px;
}

th[_ngcontent-c4] {
  color: #5cb85c;
  font-weight: 600;
  font-size: 14px;
}
