<div class="container-fluid work-section">
  <div class="row">
    <div class="col-sm-12 work-main-header">
      <h1>Portfolio</h1>
    </div>
    <div class="loader" *ngIf="loading; else content">
      <mat-progress-bar class="bar" mode="indeterminate"></mat-progress-bar>
    </div>
    <ng-template #content>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="alert alert-danger" *ngIf="error">
                <div>Error retrieving posts</div>
                <button class="btn btn-danger" (click)="getAllPosts()">
                  Try again
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <!-- filter -->
              <div class="filter pull-right" *ngIf="!error">
                <button
                  mat-button
                  [matMenuTriggerFor]="menu"
                  class="filter-menu"
                >
                  <span>Filter</span>
                  <mat-icon>filter_list</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    (click)="getAllPosts('Web Development')"
                  >
                    Website Development
                  </button>
                  <button mat-menu-item (click)="getAllPosts('Graphic Design')">
                    Graphic Design
                  </button>
                </mat-menu>
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="row text-center auto-clear">
              <div class="col-sm-3" *ngFor="let posts of postData">
                <a href="{{ posts.url }}">
                  <figure>
                    <img
                      src="{{ posts.imageUrl }}"
                      alt="portfolio images"
                      *ngIf="posts.title"
                      width="300px"
                      height="250px"
                      class="img-fluid"
                    />
                    <figcaption>
                      {{ posts.title }}
                      <p>{{ posts.type }}</p>
                    </figcaption>
                  </figure>
                </a>
              </div>
              <!-- <div class ="clear"> </div> -->
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
