@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Roboto+Condensed:wght@300&display=swap");

.work-section {
  /* background: linear-gradient(rgba(26, 25, 25, 0.7), rgba(26, 25, 25, 0.7)),
    url(/assets/vectors/coder.png) top center no-repeat;
  background-size: cover;
  display: table;
  width: 100%;
  box-shadow: inset 0 0 100px #000; */
  height: 100vh;
}

.work-main-header h1 {
  text-align: center;
  margin-bottom: 60px;
  font-family: "Girassol", cursive;
  color: #5cb85c;
}

.work-main-header h1::after {
  display: block;
  height: 2px;
  background-color: #5cb85c;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.panel.panel-primary {
  height: 65vh;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.col-sm-3 {
  display: flex;
  justify-content: center;
}

figure {
  width: 250px;
}

figure:hover {
  cursor: pointer;
}
figcaption {
  font-family: "Girassol", cursive;
  color: #fff;
}
figure p {
  font-family: "Girassol", cursive;
  color: #5cb85c;
}

.image {
  width: 100%;
  height: 250px;
  background: #6f8b6f;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bar {
  width: 50%;
}

.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.filter {
  margin-right: 60px;
  margin-bottom: 12px;
}

.filter-menu {
  border: none;
  padding: 7px 10px;
  width: 100px;
  background-color: #fff;
  color: #6f8b6f;
  font-weight: 600;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-menu:hover {
  color: #5cb85c;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #5cb85c;
}

.grid-item {
  width: 200px;
}

::-webkit-scrollbar {
  width: 8px;
  background: #d6d6d6;
}

::-webkit-scrollbar-thumb {
  background: #5cb85c;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .row.auto-clear .col-sm-3:nth-child(4n + 1) {
    clear: left;
  }
}

/* .row.auto-clear{
    -moz-column-width: 19em;
    -webkit-column-width: 19em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}
.row.auto-clear > div{
    display: inline-block;
    padding: .5rem;
    width: 100%;
}  */

/* .row.auto-clear{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} */
