<div class="container-fluid contact-section">
  <div class="row">
    <div class="col-sm-12 main-header">
      <h1>Contact me</h1>
    </div>
    <div class="col-sm-6 col-sm-offset-3 myform">
      <div class="alert alert-success" *ngIf="mailSuccess">
        Email sent successfully
      </div>
      <div class="alert alert-danger" *ngIf="mailError">
        Error sending email
      </div>
      <form (ngSubmit)="submit()" #contact="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            [(ngModel)]="user.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            [(ngModel)]="user.email"
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="job">Job request</label>
          <textarea
            class="form-control"
            rows="5"
            id="job"
            [(ngModel)]="user.job"
            name="job"
          ></textarea>
        </div>
        <button class="btn btn-success" [disabled]="loading">
          <div *ngIf="loading; else submit">loading</div>
          <ng-template #submit>Submit</ng-template>
        </button>
      </form>
    </div>
  </div>
</div>
