<div class="container-fluid about-section">
  <div class="row">
    <div class="col-sm-12 main-header">
      <h1>About me</h1>
    </div>
    <div class="col-sm-4 col-sm-offset--8 notes">
      <p>My name's <span>Onwordi Prince Alfred</span>. A computer science graduate recently turned freelancer, 
        my passion for web, mobile and graphic design was discovered while i was at school. 
        Done with school, i’m free to do what i love and make a living while i’m at it.</p>
    </div>
  </div>
</div>