/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-group.mat-primary .mat-tab-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: #5CB85C;
}
/* .mat-tab-label-active{
    color: #5CB85C;
}
.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled){
    color: #5CB85C;
} */