<div class="container-fluid skills-section">
  <div class="row">
    <div class="col-sm-12 skill-main-header">
      <h1>Skills & Experience</h1>
    </div>
    <div class="skill-container">
      <div class="skills-list">
        <h1>Fullstack Developer</h1>
        <div class="stack">
          <p>Frontend Technologies</p>
          <div class="chips">
            <mat-chip-list aria-label="skills list">
              <mat-chip *ngFor="let list of client"> {{ list }} </mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <div class="stack">
          <p>Backend Technologies</p>
          <div class="chips">
            <mat-chip-list aria-label="skills list">
              <mat-chip *ngFor="let list of server"> {{ list }} </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
      <div class="skills-list" style="margin-bottom: 20px">
        <h1>Graphic Designer</h1>
        <div class="stack">
          <p>Softwares</p>
          <div class="chips">
            <mat-chip-list aria-label="skills list">
              <mat-chip *ngFor="let list of design"> {{ list }} </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
